@{
    ViewBag.Title = "Change Password";
     Layout = "~/Views/Shared/_InfoLayout.cshtml";
}


<h2>修改密码</h2>
<script type="text/javascript">
    function checkform() {
        if (document.getElementById("password").value == "") {
            alert("请输入新密码");
            document.getElementById("password").focus();
        }
        document.forms[0].submit();
    }
</script>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div>
        <fieldset>
            <legend>请注意账号安全，在无旁人观看的时候修改密码</legend>

            <div class="editor-label">
                <label for="oldpassword">旧密码</label>   
            </div>
            <div class="editor-field">
                <input type="password" id="oldpassword" name="oldpassword" />@Html.ValidationMessage("oldpassword")
            </div>
            <div class="editor-label">
                <label for="password">新密码</label>   
            </div>
            <div class="editor-field">
                <input type="password" id="password" name="password" />@Html.ValidationMessage("password")
            </div>
            <div class="editor-label">
                <label for="confirmPassword">确认新密码</label>   
            </div>
            <div class="editor-field">
                <input type="password" id="confirmPassword" name="confirmPassword" />@Html.ValidationMessage("confirmPassword")
            </div> 
            <p><br/>
                <input type="button" value="确定" onclick="checkform();" />
            </p>
        </fieldset>
    </div>
}
