
@using BMS.Web
@using BMS.Web.BLL
@using OUDAL
@model HttpBrowserCapabilitiesBase 

@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_MainListLayout.cshtml";
}

    <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">
        <h2>欢迎使用 绿地商业集团.运营管理系统</h2>
        <p></p>
       
      </div>

      <!-- Example row of columns -->
      <div class="row">
        <div class="span6">
            <h2>功能说明一</h2>
           <p>如何打开列表中的条目，查看详细数据,如下图<br/><img src="/bms/Content/Images/1.png"/></p>
          
        </div>
          <div class="span6">
              <h2>功能说明二</h2>
              <p>在屏幕右上角选择业务操作单位，如下图<br/><img src="/bms/Content/Images/2.png"/></p>
              <br/><br/><br/>
          </div>
          <div class="span4">
          <h3>找不到所需功能菜单怎么办？</h3>
              <p>因为系统各项功能均有权限控制，如果您找不到需要的菜单项，请联系集团IT部为您开通权限。<br/>
              </p>
       </div>
        <div class="span4">
          <h3>如何退出？</h3>
           <p>关闭浏览器即退出</p>
       </div>
          <div class="span4">
          <h3>需要技术支持或新功能？</h3>
           <p>欢迎各种意见和建议，联系方式：
           <br />洪华敏<br/>huamin.hong@glcp.com.cn  <br />021-33386257</p>
       </div>
          <hr/>

      

    </div>
@section Footer{
@@copyright 绿地商业集团 
<script language="javascript">
  
</script>
}